
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congo</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar" style="background-color:#566377; align:left;">
        <center>
          <p style="text-align:center; color:white; font-size:40px; font-family:'Julius Sans One', sans-serif"><a href="http://localhost:8000/" style="color:white"><b>Congo</b></a></p>
          <p style="  display:block;">
            <form action="/search_results">
              <input style="width:250px; border:2px solid #ccc; border-radius:4px; text-align:center;"type="search" name="search" placeholder="Search our inventory...">
            </form>
          </p>
        </center>
        <ul style="float:left; color: white;display:inline-block; background-color:rgba(38, 57, 23, .00); list-style-type:none; margin:0; padding:0; overflow:hidden;">
          {% if user.is_authenticated == 1 %}
          <li style="float:left; padding:12px 30px; display:block;"><b>Welcome, {{ user.username }}</b></li>
          <li style="float:left; padding:12px 30px; display:block;"><a href="http://localhost:8000/" style="color:white;"/>Home</a></li>
          <li style="float:left; padding:12px 30px; display:block;"><a onclick="validate();" style="color:white;">View Profile</a></li>
          <li style="float:left; padding:12px 30px; display:block;"><a href="http://localhost:8000/logout/" style="color:white;"/>Logout</a></li>
          {% else %}
            <li style="float:left; padding:12px 30px; display:block;"><a style="color:white; margin-top:5px; border-style:solid; padding:8px"href="http://localhost:8000/login/"/>Login</a></li>
          {% endif %}
        </ul>

        <ul style="float:right; display:inline-block;background-color:rgba(38, 57, 23, .00); list-style-type:none; margin:0 padding:0;">
                <!-- '/' only for localhost -->
          <li style="padding:12px 30px; display:block; float:left"><a href="http://localhost:8000/create_user/" style="color:white;"/>Create Account</a></li>
          <li style="padding:12px 30px; display:block; float:left"><a href="http://localhost:8000/create_supplier/" style="color:white;"/>Create Supplier Account</a></li>
          {% if user.is_authenticated == 1 %}
          <li style="padding:12px 30px; display:block; color:white; float:left;"><a style="color:white; margin-top:5px; border-style:solid; padding:8px"href="http://localhost:8000/sell/"/>Register Sale Item</a></li>
          {% endif %}
        </ul>
    </div>
{% block content %}
{% endblock %}

    <div class="callout large secondary">
      <div class="row">
        <div class="large-4 columns">
          <h5>Congo</h5>
          <p>Welcome! Thank you for visiting us at Congo.com! 123 River Lane, Jackson, Mississippi, 39200</p>
        </div>
        <div class="large-3 large-offset-2 columns">
          <ul class="menu vertical">
            <li><a href="#">Contact Us:</a></li>
            <li><a href="#">Philanthropy:</a></li>
            <li><a href="#">Apply for a job:</a></li>
            <li><a href="#">Customer Service:</a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
            <li><a href="#">contact@congo.com</a></li>
            <li><a href="#">philanthropy@congo.com</a></li>
            <li><a href="#">jobs@congo.com</a></li>
            <li><a href="#">customerservice@congo.com</a></li>
          </ul>
        </div>
      </div>
    </div>

 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript">
    function validate(){
      var username = "{{user.username}}";
      window.location.href="http://localhost:8000/u/"+username+"/";
      }
  </script>
  </body>
</html>