<!doctype html>
<html class="no-js" lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congo</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar" style="background-color:#566377; align:left;">

        <ul style="display:inline-block;background-color:#566377; list-style-type:none; margin:0 padding:0; overflow:hidden;">
          <li style="float:left; background-color:#566377; color:white; font-size:30px;font-family:'Julius Sans One', sans-serif;">Congo</li>      <!-- '/' only for localhost -->
          <li style="padding:12px 30px; display:block; ;background-color:#566377; float:left"><a href="http://localhost:8000/create_user/" style="color:white;"/>Create Account</a></li>
          <li style="padding:12px 30px; display:block; float:left; background-color:#566377;"><a href="http://localhost:8000/create_supplier/" style="color:white;"/>Create Supplier Account</a></li>
          {% if user.is_authenticated == 1 %}
          <li style="padding:12px 30px; display:block; float:left; color:white;"><a style="color:white; margin-top:5px; border-style:solid; padding:8px"href="http://localhost:8000/sell/"/>Register Sale Item</a></li>
          {% endif %}
        </ul>


        <ul style="float:right; color: white;display:inline-block; background-color:#566377; list-style-type:none; margin:0; padding:0; overflow:hidden;">

          {% if user.is_authenticated == 1 %}
          <li style="float:left; padding:5px 30px;  display:block;">
            <form action="/search_results/">
              <input style="width:250px; border:2px solid #ccc; border-radius:4px; ;"type="search" name="search" placeholder="Search our inventory...">
            </form>
          </li>
          <li style="float:left; padding:12px 30px; display:block;"><b>Welcome, {{ user.username }}</b></li>
          <li style="float:left; padding:12px 30px; display:block;"><a href="http://localhost:8000/" style="color:white;"/>Home</a></li>
          <li style="float:left; padding:12px 30px; display:block;"><a onclick="validate();" style="color:white;">View Profile</a></li>
          <li style="float:left; padding:12px 30px; display:block;"><a href="http://localhost:8000/logout/" style="color:white;"/>Logout</a></li>
          {% else %}
          <li style="float:left; padding:5px 30px;  display:block;">
            <form action="/search_results/">
              <input style="width:700px; border:2px solid #ccc; border-radius:4px; ;"type="search" name="search" placeholder="Search our inventory...">
            </form>
          </li>
            <li style="float:left; padding:12px 30px; display:block;"><a style="color:white; margin-top:5px; border-style:solid; padding:8px"href="http://localhost:8000/login/"/>Login</a></li>
          {% endif %}


        </ul>
      </div>
{% block content %}
{% endblock %}

    <div class="callout large secondary">
      <div class="row">
        <div class="large-4 columns">
          <h5>Congo</h5>
          <p>123 River Lane, Jackson, Mississippi, USA 39200   congo@Congo.com</p>
        </div>
        <div class="large-3 large-offset-2 columns">
          <ul class="menu vertical">
            <li><a href="#">Contact us:</a></li>
            <li><a href="#">Apply for a job:</a></li>
            <li><a href="#">Customer Service:</a></li>
            <li><a href="#">Philanthropy:</a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
            <li><a href="#">contact@Congo.com</a></li>
            <li><a href="#">jobs@Congo.com</a></li>
            <li><a href="#">customerservice@Congo.com</a></li>
            <li><a href="#">philanthropy@Congo.com</a></li>
          </ul>
        </div>
      </div>
    </div>

 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript">
    function validate(){
      var username = "{{user.username}}";
      window.location.href="http://localhost:8000/u/"+username+"/";
      }
  </script>
  </body>
</html>
