<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congo</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

    <style>
         #nav {
            height:10%;
            width:100%;
            background-color:#566377;
            text-align:center;
            list-style-type:none;
         }
         #nav li {
            color:white;
            margin-top:.7%;
            float:left;
         }

         #nav a {
            color:white;
            text-decoration:none;
         }

    </style>
</head>
<body>
<P> TEST</P>
{{search}}
{{category}}
</body>
</html>