{% extends "database/base.html" %}
<!---- purchase page after user clicks purchase --->
{% block content%}
<p></p>


<center><h3 style="padding:20px;">Order History for {{user}}</h3></center>
<hr>
{% for i in orders %}
<p></p>
<center>
<table style="margin-left:20px; width:30%; border-style:solid">

    <tr>
        <td>Name</td>
        <td><strong>{{ i.item.item_name }}</strong></td>
    </tr>
    <tr>
        <td>Order Date</td>
        <td><strong>{{ i.order_date }}</strong></td>
    </tr>
    <tr>
        <td>ID</td>
        <td><strong>{{ i.order_id }}</strong></td>
    </tr>
    <tr>
        <td>Order Time</td>
        <td><strong>{{ i.order_time }}</strong></td>
    </tr>
    <tr>
        <td>Tracking number</td>
        <td><strong>{{ i.tracking_number }}</strong></td>
    </tr>
    <tr>
        <td>Seller</td>
        <td><strong>{{ i.seller }}</strong></td>
    </tr>
    <tr>
        <td>Status</td>
        <td><strong>{{ i.shipment_status }}</strong></td>
    </tr>
    {% if i.aggregate_with %}
    <tr>
        <td>Shipped With</td>
        <td><strong>Order {{ i.aggregate_with.order_id }}</strong></td>
    </tr>
    {% endif %}
</table>
</center>
<br>
{% endfor %}

{% endblock content %}