{% extends 'database/base.html' %}

{% block content %}
{% if user.username == registered_user.username %}

<p>&nbsp</p>
<!--
<ul style="width:100%; margin:0 auto; list-style-type:none; padding: 0; overflow:hidden">
    <li style="float:left; padding:10px"><a href="http://localhost:8000/add_credit_card/" />Add Credit Card</a></li>
    <li style="float:left; padding:10px"><a href="http://localhost:8000/add_address/" />Add Address</a></li>
    <li style="float:left; padding:10px"> <a href="http://localhost:8000/add_email/" />Add Email</a></li>
    <li style="float:left; padding:10px"><a href="http://localhost:8000/u/{{registered_user.user.username}}/create_user_list/" />Add List</a></li>
    <li style="float:left; padding:10px"><a href="http://localhost:8000/u/{{registered_user.user.username}}/view_list/" />View Lists</a></li>
    <li style="float:left; padding:10px"><a href="http://localhost:8000/u/{{registered_user.user.username}}/order_history/" />View Previous Orders</a></li>
comment
</ul>-->

<ul style="width:70%; margin:0 auto; text-align:center; background-color:#566377;border-color:gray;border-style:solid; list-style-type:none;  height:32px;">
    <div style="width:70%; margin: 0 auto; text-align:center; ">
    <li style="float:left; padding:0 10px;"><a href="http://localhost:8000/add_credit_card/" style="color: rgb(255,255,255)" />Add Credit Card   |</a></li>
    <li style="float:left; padding:0 10px;"><a href="http://localhost:8000/add_address/" style="color: rgb(255,255,255)"/>Add Address   |</a></li>
    <li style="float:left; padding:0 10px;"> <a href="http://localhost:8000/add_email/" style="color: rgb(255,255,255)"/>Add Email   |</a></li>
    <li style="float:left; padding:0 10px;"><a href="http://localhost:8000/u/{{registered_user.user.username}}/create_user_list/" style="color: rgb(255,255,255)"/>Add List   |</a></li>
    <li style="float:left; padding:0 10px;"><a href="http://localhost:8000/u/{{registered_user.user.username}}/view_list/" style="color: rgb(255,255,255)"/>View Lists   |</a></li>
    <li style="float:left; padding:0 10px;"><a href="http://localhost:8000/u/{{registered_user.user.username}}/order_history/" style="color: rgb(255,255,255)"/>View Previous Orders</a></li>
</div>
</ul>




{% endif %}

<p>&nbsp</p>
<h3 style="text-align:center;">Overview</h3>
<hr>
<form method="post" style="padding:45px;">{% csrf_token %}
    <table style="margin:0 auto; width:50%">
        <tr>
            <td>Name</td>
            <td><strong>{{ registered_user.name }}</strong></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><strong>{{ registered_user.username }}</strong></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td><strong>{{ registered_user.date_of_birth }}</strong></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><strong>{{ registered_user.gender }}</strong></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><strong>{{ registered_user.phone_number }}</strong></td>
        </tr>

        <tr>
            <td>Annual income</td>
            <td><strong>${{ registered_user.annual_income }}</strong></td>
        </tr>
        <tr>
            <td>Average Rating</td>
            <td><strong>{{ registered_user.average_rating }}</strong></td>
        </tr>

    </table>
    <p>&nbsp</p>
    <h3 style="text-align:center">Items for Sale</h3>
    <hr>
</form>


{% for i in items %}
<p>&nbsp</p>
    <table style="margin: 0 auto;">
        <tr>
            <td>Name</td>
            <td><strong>{{ i.item_name }}</strong></td>
        </tr>
        <tr>
            <td>ID</td>
            <td><strong>{{ i.item_id }}</strong></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><strong>{{ i.description }}</strong></td>
        </tr>
        <tr>
            <td>Ships from</td>
            <td><strong>{{ i.place_of_origin }}</strong></td>
        </tr>
        <tr>
            <td>url</td>
            <td><strong>{{ i.url }}</strong></td>
        </tr>

        <tr>
            <td>Amount in Stock</td>
            <td><strong>{{ i.amount_in_stock }}</strong></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="http://localhost:8000/items/{{i.item_id.item_id}}/"/>Item Link</a></td>
        </tr>
        {% if i.amount_in_stock == 0 %}
        <tr>
            <td></td>
            <td><a href="http://localhost:8000/items/{{i.item_id.item_id}}/relist/"/>Relist Item</a></td>
        </tr>
        {% else %}
        <tr>
            <td></td>
            <td><a href="http://localhost:8000/items/{{i.item_id.item_id}}/cancel/"/>Cancel Item</a></td>
        </tr>
        {% endif %}

    </table>
{% endfor %}


<p>&nbsp</p>
<h3 style="text-align:center;">Reviews</h3>
<hr>
<p>&nbsp</p>

{% if user.username == registered_user.username %}
{% else %}
<form method="POST" action="http://localhost:8000/u/{{registered_user.user.username}}/" style="margin: 0 auto; width:50%; display:block; text-align:center">{% csrf_token %}
    {{review}}
    <input style="border-radius:5px; margin: 14px 35%; padding: 10px 30px; background-color:#566377; border:none; color:white;" type="submit" value="Add Review">
</form>

{% endif %}

{% for i in reviews %}
    <p>&nbsp</p>
    <table style="margin:0 auto; width:30%; border-style:solid; text-align:center">
        <tr>
            <td>Rater</td>
            <td><strong>{{ i.rater.user.username }}</strong></td>
        </tr>
        <tr>
            <td>Stars</td>
            <td><strong>{{ i.stars }}</strong></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><strong>{{ i.description }}</strong></td>
        </tr>
    </table>
<br>
{% endfor %}

{% endblock content %}